<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FactorioRcon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WinSourceRcon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FactorioRcon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections><startup>
		<supportedRuntime version="v2.0.50727" />
	</startup>
    <userSettings>
        <FactorioRcon.Properties.Settings>
            <setting name="IP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>12345</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>Password</value>
            </setting>
            <setting name="Ping" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Whitelist" serializeAs="String">
                <value />
            </setting>
        </FactorioRcon.Properties.Settings>
        <WinSourceRcon.Properties.Settings>
            <setting name="Evolution" serializeAs="String">
                <value>/evolution</value>
            </setting>
            <setting name="Players" serializeAs="String">
                <value>/p</value>
            </setting>
            <setting name="Help" serializeAs="String">
                <value>/h</value>
            </setting>
            <setting name="IP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>12345</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>Password</value>
            </setting>
        </WinSourceRcon.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <FactorioRcon.Properties.Settings>
            <setting name="Evolution" serializeAs="String">
                <value>/evolution</value>
            </setting>
            <setting name="Players" serializeAs="String">
                <value>/p</value>
            </setting>
            <setting name="Help" serializeAs="String">
                <value>/h</value>
            </setting>
            <setting name="Admins" serializeAs="String">
                <value>/admins</value>
            </setting>
            <setting name="Bans" serializeAs="String">
                <value>/bans</value>
            </setting>
            <setting name="SaveMap" serializeAs="String">
                <value>/c game.server_save()</value>
            </setting>
        </FactorioRcon.Properties.Settings>
    </applicationSettings>
</configuration>